<p>
    <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products$ | async">
            <td><img [src]="p.imageUrl" height="40" width="60"></td>
            <td>{{ p.title }}</td>
            <td>{{ p.price | currency:'USD':true}}</td>
            <td><a [routerLink]="['/admin/products/',p.$key]">Edit</a></td>
        </tr>
    </tbody>
</table>